<%= form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plastname %><br>
    <%= f.text_field :plastname %>
  </div>
  <div class="field">
    <%= f.label :pfirstname %><br>
    <%= f.text_field :pfirstname %>
  </div>
  <div class="field">
    <%= f.label :clastname %><br>
    <%= f.text_field :clastname %>
  </div>
  <div class="field">
    <%= f.label :cfirstname %><br>
    <%= f.text_field :cfirstname %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
